* {
      margin: 0;
      padding: 0;
    }

    #fundo {
      text-align: center;
    }

    .calculadora {
      background-color: rgba(0, 0, 0, 0.5);
      margin: auto;
      border-radius: 15px;
      padding: 15px;
      width: 250px;
    }

    .botao {
      width: 50px;
      height: 50px;
      font-size: 25px;
      cursor: pointer;
      background-color: #5a5abb;
      border: none;
      color: white;
      margin: 3px;
    }

    .botao:hover {
      background-color: #3f3f96;
    }

    #resultado {
      background-color: white;
      width: 210px;
      height: 30px;
      margin: 5px;
      font-size: 25px;
      color: black;
      text-align: right;
      padding: 5px;
    }
